<div id="quick-search" class="ui-widget">
  <form action="<%= things_path %>" >
    <input type="text" name="query" val="">
    <%= link_to '#', class: "btn btn-sm btn-primary f-submit" do %>
      <%= icon('search') %>
    <% end %>
    <input type="submit" name="commit" value="Search" class="hide">
  </form>
</div>
<span class="ui-autocomplete-faux" style="display:none;"></span></br>