<div id="quick-search" class="ui-widget">
  <form action="<%= things_path %>" >
    <input type="text" name="query" val="">
    <input type="submit" name="commit" value="Quick Search">
  </form>
</div>