<% if @search %>
<h4><%= @things.count %> found, matching <%= params[:search_tags] ? "tags" : "name" %>: '<%= params[:query] %>'</h4>
<% end %>
<div id="things-list">
<% @things.each do |thing| %>
  <%= render :partial=>'thing_row', locals: {thing: thing, odd_even: (cycle("odd","even")), show_container:  true} %>
<% end %>
</div>
<br />
