<div class="row">
  <div id="thing-index" class="things col-md-4 raj-loader" data-raj-url="<%= things_path %>"
    data-raj-params='<%=
      data = {
        query: params[:query],
        tags: params[:tags],
      }
      data[:search_tags] = true if params[:search_tags]
      data.to_json
    %>'>
  </div>
  <div class="col-md-4">
    <div id="tree" data-url="/things/tree.json?current=<%= Thing.world.id %>"></div>
  </div>
  <div class="col-md-4">
    <%= render :partial=>'quick_search' %>
  </div>
</div>
