<div class="row">
  <div class="things col-md-4">
    <% if params[:query].present? %>
    <h4>Matching '<%= params[:query] %>'</h2>
    <% end %>
    <div id="things-list">
    <% @things.each do |thing| %>
      <%= render :partial=>'thing_row', locals: {thing: thing, odd_even: (cycle("odd","even")), show_container:  true} %>
    <% end %>
    </div>
    <br />
  </div>
  <div class="col-md-4">
  </div>
    <%= render :partial=>'quick_search' %>
  <div class="col-md-4">
</div>
