<h1>Listing things</h1>
<% if params[:query].present? %>
<h4>Matching '<%= params[:query] %>'</h2>
<% end %>
<div id="things-list">
<% @things.each do |thing| %>
  <%= render :partial=>'thing_row', locals: {thing: thing, odd_even: (cycle("odd","even")), show_container:  true} %>
<% end %>
</div>
<br />

<%= render :partial=>'quick_search' %>
