.select2-results {
  text-align: left;
}

.select2-drop {
  font-family: sans-serif;
}

@mixin select2-tag ($color: #eee) {
  .select2-container-multi .select2-choices .select2-search-choice {
    background-color: $color;
    $color1: lighten($color, 4%);
    $color2: lighten($color, 1%);
    $color3: darken($color, 1%);
    @include background-image(linear-gradient($color1, $color1 20%, $color2 50%, $color3 52%, $color));
  }
  .select2-container-multi .select2-choices .select2-search-choice-focus {
    background: darken($color, 4%);
  }
  .select2-container-multi {
    width: 100%;
  }
  .select2-container-multi .select2-choices {
    // border: none;
    // background-image: none;
    .select2-search-choice {
      line-height: 1em;
    }
    .select2-search-field input {
      // padding: 0;
    }
  }
}

.tag-select {
  @include select2-tag(#c8efd1);
}

.tag-select {
  display: inline-block;
  margin-bottom: 5px;
  select {
    display: none;
  }
  select, ul {
    min-width: 100%;
  }
}
