//
// Bootstrap Variable Overrides
//

// Typography

$font-size-base: 16px;
$line-height-base: 1.8;
$link-hover-decoration: none;

//
// Custom Application Variables
//

// Colors

$dimmed-color: #bbb;
$marked-color: #222;
