#tags-heading {
  h2 {
    margin-top: 0;
  }
  form#new_tag {
    position: absolute;
    top: 0.2em;
    left: 7.4em;
    #tag_name {
      width: 10em;
    }
    input[type="submit"] {
      margin-left: 1em;
    }
  }


}
