// @import "base";
@import "compass/utilities/general/clearfix";
@import "styleguide";

.name-bar {
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

#things-list {
  // width: 400px;
  border: 2px solid #888;
  padding: 0px;
  min-height: 400px;
  // max-height: 400px;
  overflow: auto;
  background: #ddd;
  .child {
    padding: 1px 3px;
    border-bottom: 1px solid #aaa;
    @include clearfix;
    // font-size: 11px;
    color: #666;
    .num_contained {
      color: #666;
    }
    .actions {
      float: right;
      position: relative;
      // top: 0.1em;
      a#marked! {}
      a {
        margin-right: 0.6em;
        i.fa {
          // font-size: 1.5em;
          // font-weight: bold;
          &.marked {
            color: $marked-color;
          }
        }
      }
    }
    &.odd {
      background: #F0E6E3;
    }
    &.even {
      background: #DDEAE8;
    }
  }
  #nothing {
    padding: 4px;
    font-style: italic;
    font-size: 90%;
  }
}

#thing-details #contained #things-list {
  width: 396px;
  min-height: 300px;
  max-height: 300px;
}

.thing {
  .thing-heading {
    .name {
      margin-right: 0.5em;
    }
    .actions {
      // opacity: 0.5;
      display: inline;
      white-space: nowrap;
    }
    margin-bottom: 0.5em;
  }
}