// @import "base";
@import "compass/utilities/general/clearfix";
@import "styleguide";

.name-bar {
  font-size: 1.5em;
  margin-bottom: 0.1em;
}

#things-list {
  // width: 400px;
  border: 2px solid #888;
  padding: 0px;
  min-height: 400px;
  // max-height: 400px;
  overflow: auto;
  background: #ddd;
  .child {
    padding: 1px 3px;
    border-bottom: 1px solid #aaa;
    @include clearfix;
    // font-size: 11px;
    color: #666;
    .num-contained {
      color: #aaa;
      background: transparent;
    }
    .actions {
      float: right;
      position: relative;
      // top: 0.1em;
      a#marked! {}
      a {
        margin-right: 0.6em;
        i.fa {
          // font-size: 1.5em;
          // font-weight: bold;
          &.marked {
            color: $marked-color;
          }
        }
      }
    }
    &.odd {
      background: #F0E6E3;
    }
    &.even {
      background: #DDEAE8;
    }
  }
  #nothing {
    padding: 4px;
    font-style: italic;
    font-size: 90%;
  }
}

#thing-details #contained #things-list {
  width: 396px;
  min-height: 300px;
  max-height: 300px;
}

.thing {
  .thing-heading {
    .name {
      margin-right: 0.5em;
    }
    .actions {
      // opacity: 0.5;
      display: inline;
      white-space: nowrap;
    }
    margin-bottom: 0.5em;
  }
}

#inline-widget form {
  background: #eee;
  margin-bottom: 20px;
}

.c-count {
  font-style: normal;
  font-size: 0.8em;
  background: #D9E0E4;
  padding: 0px 4px;
  border-radius: 4px;
  color: #fff;
  position: relative;
  top: -0.1em;
}

em.actions {
  // margin-left: 0.2em;
  background: #FFF;
  padding: 0px 4px;
  border-radius: 4px;
  float: right;
  position: relative;
  top: 1px;
  right: 1px;
  a {
    margin: 0 0.3em;
  }
}

ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
  background: #ddd;
}

.thing-body, #tree {
  font-size: 1em;
}

// Tree compass
.jqtree-element.current {
  background: #ded;
}

%tag {
  display: inline-block;
  border: 1px solid #C7C7C7;
  padding: 0.3em;
  line-height: 0.9em;
  font-size: 0.8em;
  background: #FFE4D3;
  border-radius: 0.4em;
  color: #888;
  a {
    color: inherit
  }
  span {
    color: #fff;
    font-size: 1.3em;
    line-height: 0.4em;
    padding: 0 0.2em 0 0.1em;
    position: relative;
    top: 0.1em;
    text-shadow: 0 0 1px #000;
  }
}

#tags {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      @extend %tag;
    }
  }
}

#inline-widget input.select2-input {
  min-width: 200px;
}

#recent-searches {
  ul {
    list-style-type: none;
  }
  li.tag {
    @extend %tag;
  }
}